" Maintainer: liubang <https://github.com/iliubang>
" Version: 0.1
" vim: et ts=2 sts=2 sw=2 ft=vim

" regist coder
function! Init()
  REG 'fe'
  REG 'clang'
  REG 'golang'
  REG 'python'
  REG 'sh'
  REG 'php'
  REG 'rust'
  REG 'docker'
  " REG 'java'
endfunction

function! CustomPlug()
  " MMP 'dracula/vim', { 'as': 'dracula' }
endfunction

function! CustomConfig()
  " color dracula
endfunction
