" Maintainer: liubang <https://github.com/iliubang>
" Version: 0.1
" vim: et ts=2 sts=2 sw=2 ft=vim

function! CustomPlug()
    Component 'go'
    Component 'php'
    Component 'clang'
    Component 'latex'
    Component 'python'
    " Plug 'Rip-Rip/clang_complete'
endfunction

function! CustomConfig()

endfunction
